<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="navlinks">
            <a href="/home">Heim</a>
            <a href="/logout">Logg ut</a>
                <% if (admin) { %>
                    <a href="/admin">Admin </a>
                    <% } %>
        </div>
    </nav>
    <div class="user-detail">

        <form action="<%='/admin/edit/'+user.id%>" method="post">
            <label>Full Name</label>
            <input type="text" name="firstname" required value="<%=user.firstname%>">
            <label>Last name</label>
            <input type="text" name="lastname" required value="<%=user.lastname%>">
            <label>Email Address</label>
            <input type="email" placeholder="Enter Email Address" name="email" required value="<%= user.email%>">

            <button type="submit">Lagre</button>
            <a href="/admin"><button>Avbryt</button></a>
        </form>
    </div>
</body>
</html>