<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">

  <title>OSS AS</title>
</head>
<body>
  <nav>
    <div class="navlinks">
      <a href="/">Heim</a>
      <a href="/profile">Support</a>
      <a href="/login">Logg inn</a>       
    </div>
  </nav>
 <main>
  <h1>Velkommen til OSS AS</h1>
  <p>Me kan hjelpe deg med mykje forskjellig. </p>
 </main>
</body>
</html>